<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lamthu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LamThu"
        tools:targetApi="31">
        <activity
            android:name=".Add_Activity"
            android:exported="false" />
        <activity
            android:name=".Search_Acticity"
            android:exported="false" />
        <activity
            android:name=".LoadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SachDocNhieu_Activity"
            android:exported="false" />
        <activity
            android:name=".ViewNewBook_Activity"
            android:exported="false" />
        <activity
            android:name=".ViewBook_Activity"
            android:exported="false" />
        <activity
            android:name=".DangKi_Activity"
            android:exported="false"
            android:parentActivityName=".DangNhap_Activity" />
        <activity
            android:name=".DangNhap_Activity"
            android:exported="false" />
        <activity
            android:name=".GioiThieu_Activity"
            android:exported="false" />
        <activity
            android:name=".Home_Activity"
            android:exported="false" />
    </application>

</manifest>